


<h1>AfterLogin</h1>

@if (Session["LogedUsername"] != null)
{
    <h2>Welcome to @Session["LogedUsername"].ToString();</h2>
}

@Html.ActionLink("Logout", "Login")
@Html.ActionLink( "create","create")
 
